/************************* Styles for Footer *************************/
.footer {
    margin-top: auto;
    width: 100%;
    height: 65px;
    background-color: #1c1c1c;
    border-top: 1px solid #dee2e6;
}

.footer-content {
    text-align: center; /* Centers all text in the footer */
    color: #dfdfdf;
}

.copyright,
.credits {
    color: #a8a8a8;
    font-size: 0.8rem;
    margin: 0; /* Remove top and bottom margin */
    padding: 2px 0;
}
